@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0d4f19;
}

.reset-container {
    background: #c6f28c;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 150px;
    height: auto;
}

.form-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #04210d;
    margin-bottom: 20px;
}

.form-subtitle {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: #04210d;
}

.reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.email-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #04210d;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    text-align: center;
}

.email-input:focus {
    border-color: #0d4f19;
    box-shadow: 0px 0px 5px rgba(13, 79, 25, 0.5);
}

.submit-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #04210d;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.submit-button:hover {
    background: #064015;
}
